.contact{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    padding-left: 20%;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
    overflow: hidden;
 
}
.text-contact{
    position: relative;
    justify-content: center;
    text-align: center;
}
.text-contact h1{
    position: relative;
    font-family: 'poppins',sans-serif;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.226);
}
.text-contact span{
    position: relative;
    font-family: 'poppins',sans-serif;
    font-size: 2rem;
    color: #101010;
}
.text-contact p{
    position: relative;
    font-family: 'poppins',sans-serif;
    font-size: 1rem;
    color: #101010;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    padding-top: 5%;
    margin-bottom: 35%;
}

input{
    width: 20rem;
    height: 1rem;
    padding: 1.3rem;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #101010;
    resize: none;
}
textarea{
    position: relative;
    width: 20rem;
    height: 5rem;
    padding: 1.5rem;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #101010;
    resize: none;
}
button{
    position: relative;
    margin: 0px 30%;
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: none;
    color: black;
    border: 1px solid #101010;
    background:transparent;
    cursor: pointer;
    transition: .5s ease-in-out;
}
button:hover{
    background: #101010;
    color: white;
    transition: .5s ease-in-out;
}
.footer{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom:-10%;
    z-index: 100;
}
.social{
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    display: flex;
    gap: 5%;
}
@media screen and (max-width: 600px) {
    .contact{
        position: relative;
        margin: 0px auto;
        justify-content: center;
        align-items: center;
        padding-right: 20%;
        width: 100%;
        padding-top: 20%;
        height: 110vh;
    }
    .text-contact{
        position: relative;
        padding-top: 20%;
    }
    .text-contact span{
        position: relative;
        font-size: 1.2rem;
    }
    .text-contact h1{
        position: relative;
        font-size: 1.2rem;
    }
    .text-contact p{
        position: relative;
        font-size: 13px;
    }

    input{
        width: 15rem;
        height: 1rem;
    }
    textarea{
        width: 15rem;
        height: 5rem;
    }
    button{
        width: 7rem;
        height: 3rem;
        font-size: 14px;
    }
    .social a{
        position: relative; 
        font-size: 5vh;
        color: rebeccapurple;
    }
    .footer{
        margin-bottom: 20%;
    }
}
